* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: center / cover no-repeat url("./public/cool-background.svg");
}
